body {
    padding: 1rem;
}

#root {
    display: flex;
    width: 100%;
    height: 95vh;
    border: solid gainsboro 1px;
}

#option {
    margin-left: 1.5rem;
    margin-top: 2rem;
    display: flexbox;
    width: fit-content;
    height: fit-content;
}

#option p {
    font-size: large;
}